:root{
	--primary:  #000;
	--secondary:  #fff;
}

@media (hover: hover){
	.marker:hover svg,
	.marker:hover img{
		filter: grayscale(0%) brightness(1) !important;
	}

	.marker:hover .map_link,
	.marker:hover .icon,
	.marker:hover:after{
		opacity: 1;
	}

	.marker:hover{
		z-index: 5;
	}
	.marker.black_type:hover .marker_number{
		color: var(--primary);
	}
}

body.section_1 .map:after{
  display: block; 
}
body.section_2 .team:after{
  display: block; 
}
body.section_3 .access:after{
  display: block; 
}

@keyframes blink{
  0%{
    opacity: 1;
  }
  24%{
    opacity: 1;
  }
  25%{
    opacity: 0;
  }
  74%{
    opacity: 0;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

#map{
	padding-bottom: calc(7rem + 4rem);
}

#interaction_notification{
	position: absolute;
	display: flex;
	left: 50%;
	transform: translateX(-50%);
	bottom: 4rem;
	width: 18rem;
	font-size: var(--s_font);
}

#interaction_notification img{
	width: 1.25rem;
	/*animation: blink 1.5s linear infinite;*/
	margin-right: 1rem;
}
#interaction_notification span{
	width: 15rem;
	text-align: center;
}

#map_navigation{
	display: flex;
	width: 100%;
}

#map_container{
	position: relative;
	height: calc(100vh - 26rem);
	border-radius: 2rem;
	/*background-color: #f2eb68;*/
	z-index: 4;
}

/* Icons */

.icon{
	/*position: fixed;*/
	opacity: 0;
	width: 100%;
	margin-bottom: 1rem;
	bottom: 11rem;
	pointer-events: none;
	z-index: -1;
}


/* Markers */


.marker_1{
	bottom: 20%;
	left: 10%;
	outline-color: #841A5E;
}

.marker_2{
	bottom: 20%;
	left: 15%;
	outline-color: #E700C1;
}

.marker_3{
	top: 11%;
	left: 21%;
	outline-color: #DAA520;
}

.marker_4{
	top: 40%;
	left: 35%;
	outline-color: #00D5FF;
}

.marker_5{
	top: 44%;
	left: 30%;
	outline-color: #F46E24;
}

.marker_6{
	top: 60%;
	left: 37%;
	outline-color: #0D7236;

}

.marker_7{
	top: 26%;
	left: 50%;
	outline-color: #F94963;
}

.marker_8{
	top: 15%;
	left: 50%;
	outline-color: #25a7a3;
}

.marker_9{
	top: 37%;
	left: 67%;
	outline-color: #83D362;
}

.marker_10{
	top: 47%;
	left: 82%;
	outline-color: #AF6EF9;
}

.the_parking_space{
	top: 44%;
	left: 73%;
	outline-color: var(--blue);
}

.marker:focus-visible{
	outline-offset: var(--outline_offset);
}

.marker:focus-visible svg,
.marker:focus-visible img{
	filter: grayscale(0%) brightness(1) !important;
}

.marker:focus-visible .map_link,
.marker:focus-visible .icon{
	opacity: 1;
}

.marker{
	position: absolute;
	z-index: 3;
}

.marker .marker_number{
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
	transform: translate(-55%, -80%);
	font-family: 'Roundaway Stencil';
	font-size: 1.25rem;
	color: #fff;
	z-index: 2;
}

.tablet_marker{
	display: none;
}

.marker svg{
	width: 2rem;
	filter: grayscale(100%) brightness(0);
}

.logo{
	width: 3rem;
	filter: grayscale(100%) contrast(100);
}

#clinton{
	height: 100%;
	left: 20%;
	top: 0;
}

#clinton img{
	bottom: 36%;
	width: 75%;
}

#dubuque{
	height: 30%;
	left: 35%;
	bottom: 0;
}

#dubuque_top{
	height: 40%;
	left: 35%;
	top: 0;
}

#dubuque img{
	bottom: 10%;
}

#linn{
	height: 100%;
	left: 50%;
	top: 0;
}

#linn img{
	bottom: 40%;
}

#gilbert{
	height: 100%;
	left: 66%;
	top: 0;
	z-index: 2;
}

#gilbert img{
	top: 15%;
}

#van_buren{
	height: 100%;
	left: 87%;
	top: 0;
	z-index: 1;
}

#iowa_ave{
	width: 80%;
	left: 20%;
	top: 15%;
}

#iowa_ave img{
	bottom: 10%;
	left: 25%;
}

#washington{
	width: 100%;
	left: 0%;
	top: 40%;
}

#washington img{
	left: 1%;
}

#college{
	width: 49%;
	left: 51%;
	top: 60%;
}

#college img{
	right: 5%;
}

#burlington{
	width: 100%;
	left: 0%;
	top: 85%;
}

#burlington img{
	bottom: 10%;
	left: 1%;
}

.streetv{
	width: 1rem;
	transform:  translateX(-50%);
}

.streetv img{
	left: 15%;
	width: 75%;
}

.streeth{
	transform:  translateY(-50%);
	height: 1rem;
}

.streeth img{
	top: 15%;
	height: 75%;
}

.street{
	position: absolute;
	background-size: contain;
	background-color: #eee;
	z-index: 1;
}

.street img{
	position: absolute;
	filter: grayscale(100%) contrast(100) brightness(0);
}

/* Generic Page Styles */

h1{
	letter-spacing: 0;
  font-size: var(--l_font);
  line-height: 0.8;
  margin-top: 0;
}

#site_credits{

}

/* Main navigation  */

.map_link{
	opacity: 0;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	bottom: var(--outer_margin);
	left: var(--outer_margin);
	pointer-events: none;
	padding:  1.5rem 1.5rem;
	width: 15rem;
  border-radius: 1rem;
  line-height: 1.3;
  z-index: 10;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--secondary);
}

.title_author_container{
	display: flex;
	align-items: center;
	flex-grow: 1;
	flex-direction: column;
}

.map_link .number{
	font-family: 'Roundaway Stencil';
	width: 15rem;
	padding: 0rem 1rem 2rem 1rem;
	border-radius: 1rem;
	position: fixed;
	color: #000;
	top: var(--outer_margin);
	left: var(--outer_margin);
	text-align: center;
	background-color: var(--secondary);
	box-sizing: border-box;
	line-height: 1.1;
}

.map_link .number div{
	font-size: var(--xl_font);
}

.map_link .title{
  font-family: 'Roundaway Gothic';
  text-align: center;
  font-size: var(--m_font);
  line-height: 1;
}

.map_link .address,
.map_link .coordinates{
	font-size: var(--s_font);
}

.map_link .address{
	margin-top: 0.5rem;
}
.map_link .author{
	display: block;
	font-size: var(--m_font);
}

.marker.black_type{
	color: var(--primary);
}

.marker.black_type .map_link:after{
	border-color: var(--primary);
}

.marker.black_type .author{
	color: black;
}

.marker.black_type .title_author_container{
	color: black;
}

.map_link:after{
  content:  '';
  position: absolute;
  top:  0.5rem;
  left:  0.5rem;
  bottom:  0.5rem;
  right: 0.5rem;
  border-radius: 0.5rem;
  border:  3px solid #fff;
}

#link_parking_space{
	background-color: var(--blue);
}

#link_parking_space .number{
	color: var(--blue);
}

#link_1{
	background-color: #841A5E;
}
#link_1 .number{
	color: #841A5E;
}
.m1{
	fill: #841A5E;
}

#link_2{
	background-color: #E700C1;
}
#link_2 .number{
	color: #E700C1;
}
.m2{
	fill: #E700C1;
}

#link_3{
	background-color: #DAA520;
}
#link_3 .number{
	color: #DAA520;
}
.m3{
	fill: #DAA520;
}

#link_4{
	background-color: #00D5FF;
}
#link_4 .number{
	color: #00D5FF;
}
.m4{
	fill: #00D5FF;
}

#link_5{
	background-color: #F46E24;
}
#link_5 .number{
	color: #F46E24;
}
.m5{
	fill: #F46E24;
}

#link_6{
	background-color: #0D7236;
}
#link_6 .number{
	color: #0D7236;
}
.m6{
	fill: #0D7236;
}

#link_7{
	background-color: #F94963;
}
#link_7 .number{
	color: #F94963;
}
.m7{
	fill: #F94963;
}

#link_8{
	background-color: #25a7a3;
}
#link_8 .number{
	color: #25a7a3;
}
.m8{
	fill: #25a7a3;
}

#link_9{
	background-color: #83D362;
}
#link_9 .number{
	color: #83D362;
}
.m9{
	fill: #83D362;
}

#link_10{
	background-color: #AF6EF9;
}
#link_10 .number{
	color: #AF6EF9;
}
.m10{
	fill: #AF6EF9;
}

/* TEAM */

#team{
	width: 86%;
	margin-left: 7%;
	margin-right: 7%;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: center;
}

#team .section_heading_wraper{
	width: 100%;
}

#team_image{
  width: 7rem;
  margin-left: 2rem;
  margin-bottom: 0;
}

#team_image_button{
	height: 5rem;
}

#team_image_button img{
  position: absolute;
  height: 50%;
  top:  50%;
  left: 50%;
}

.contributor{
	width: 33.33%;
	padding: 0 2rem;
	font-size: var(--m_font);
	line-height: 1.35;
	box-sizing: border-box;
	margin-bottom: var(--outer_margin);
}

.contributor a{
	display: inline-block;
	margin-top: 1em;
	font-size: var(--s_font);
}

.contributor a:focus-visible{
	outline-offset: var(--outline_offset);
	outline-color: var(--primary);
}

#steven{
  transform: translate(-200%, -50%);
}

#ramin{
  transform: translate(-50%, -60%);
}

#stephanie{
  transform: translate(100%, -50%);
}

#site_credits{
	font-size: var(--s_font);
}

@media (max-width: 1000px), (hover: none){
	#map_location{
		z-index: 10;
	}
	.marker.tablet_marker{
		display: block;
		position: absolute;
	}
	.marker.tablet_marker.black_type .marker_number{
		color: black;
	}
	.marker.tablet_marker svg{
		filter: grayscale(0);
	}
	.marker.tablet_marker .logo{
		filter: grayscale(0);
	}
	.marker{
		position: static;
	}

	#map_container{
		position: static;
		height: auto;
	}

	#interaction_notification{
		display: none;
	}

	.tablet_markers_container,
	.streets_container{
		position: absolute;
		top: 29rem;
		height: 30rem;
		width: calc(100% - var(--outer_margin) * 2);
	}

	.map_links_container{
		display: flex;
		flex-wrap: wrap;		
		margin-top: 35rem;
	}

	.map_links_container .marker{
		width: 33.33%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		position: relative;
		bottom: auto;
		left: auto;
		margin-bottom: var(--outer_margin);
		text-decoration: none;
	}

	.map_links_container .logo{
		width: 2.2rem;
	}

	.map_links_container .logo,
	.map_links_container .marker_pin{
		margin-left: 1rem;
		filter: none;
	}

	.map_links_container .marker_number{
		left: 2.5rem;
	}

	.map_links_container .black_type .marker_number{
		color: #000;
	}

	.map_links_container .map_link{
		display: block;
		width: calc(100% - 5rem);
		opacity: 1;
		position: relative;
		left: auto;
		bottom: auto;
	}

	
	.map_links_container .icon{
		display: none;
	}

	.map_link .number{
		position: static;
		display: inline-block;
		padding: 0;
		width: 100%;
		background-color: transparent;
		color: #fff !important;
		line-height: 1;
	}

	.title:before{
		content: '@ ';
	}

	.map_link .number .author{
		display: block;
		margin-top: 0.5rem;
	}

	.black_type .number{
		color: #000 !important;
	}

	.contributor{
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		padding: 0;
		margin-bottom: 2rem;
	}
}

@media (max-width: 767px), (hover: none) and (max-width: 767px){
	.tablet_markers_container,
	.streets_container{
		display: none;
	}

	.map_links_container{
		margin-top: 0;
	}

	.map_links_container .logo,
	.map_links_container .marker_pin,
	.map_links_container .marker_number{
		display: none;
	}

	.map_links_container .marker{
		width: 100%;
	}

	.map_links_container .map_link{
		width: 100%;
	}

	.contributor{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}